In [5]:
import pandas as pd
df = pd.read_excel(r'C:\Users\jackr\OneDrive - University of Southampton\Documents\Marine bio\BCSS\GitHub\tuna_abundance_bazaruto\tuna_abundance.xlsx')
print (df)

occur = df.groupby('Common Name').size()
print(occur)

by_date = df['Date'].groupby([df.Date.dt.year.rename('year'), df.Date.dt.month.rename('month')]).agg('count')
print(by_date)

          Date     Common Name  SST (ºC) Boat  SST YSI  Sal. YSI  pH YSI  \
0   2021-08-02   Skipjack Tuna           24.7     24.3     35.81    8.09
1   2021-08-02          Bonito           24.3     23.9     35.80    8.18
2   2021-04-03          Bonito           30.6      NaN       NaN     NaN
3   2021-04-02  Yellowfin Tuna           28.9      NaN       NaN     NaN
4   2021-04-02  Yellowfin Tuna           29.4      NaN       NaN     NaN
..         ...             ...            ...      ...       ...     ...
266 2019-08-01          Bonito           21.1      NaN       NaN     NaN
267 2019-08-01  Yellowfin Tuna           22.2      NaN       NaN     NaN
268 2019-07-05          Bonito           22.7      NaN       NaN     NaN
269 2019-07-05          Bonito           22.7      NaN       NaN     NaN
270 2019-03-17   Skipjack Tuna           23.9      NaN       NaN     NaN

     DO YSI Depth (m)              Area  Wind speed  Air Temp (°C)  \
0      6.10      92.5    North Bazaruto    5.000000      21.355556
1      5.56      77.3    North Bazaruto    5.000000      21.000000
2       NaN        58  Marlin Pinnacles    5.000000      26.000000
3       NaN      84.6  Marlin Pinnacles    4.750000      27.000000
4       NaN      75.6  Marlin Pinnacles    4.500000      27.000000
..      ...       ...               ...         ...            ...
266     NaN       NaN     San Sebastian    6.000000      24.000000
267     NaN       NaN     San Sebastian    6.000000      24.000000
268     NaN        43  Marlin Pinnacles    3.666667      23.000000
269     NaN        43  Marlin Pinnacles    3.666667      23.000000
270     NaN       NaN            9-Mile    9.000000      26.333333

     Cloud Coverage (%)  Tidal Strenght
0             23.200000        2.422670
1             49.333333        2.392308
2              0.000000        1.538462
3             37.000000        3.353367
4             43.000000        2.904489
..                  ...             ...
266           78.000000        0.787500
267           78.000000        0.787500
268           36.666667        1.770000
269           36.666667        1.770000
270          100.000000        2.252475

[271 rows x 13 columns]
Common Name
Bonito            111
Skipjack Tuna     102
Yellowfin Tuna     58
dtype: int64
month
1     21
2     11
3     67
4     39
5     29
7      2
8     28
9      2
10    16
11    29
12    27
Name: Date, dtype: int64

In [6]:
df = pd.DataFrame({'Date':pd.date_range(start='2019-03-17', end='2021-08-02')})
df['Date'].groupby(df.Date.dt.to_period("M")).agg('count').reset_index(name="Abundance")

Date
2019-03    15
2019-04    30
2019-05    31
2019-06    30
2019-07    31
2019-08    31
2019-09    30
2019-10    31
2019-11    30
2019-12    31
2020-01    31
2020-02    29
2020-03    31
2020-04    30
2020-05    31
2020-06    30
2020-07    31
2020-08    31
2020-09    30
2020-10    31
2020-11    30
2020-12    31
2021-01    31
2021-02    28
2021-03    31
2021-04    30
2021-05    31
2021-06    30
2021-07    31
2021-08     2
Freq: M, Name: Date, dtype: int64